global:
  scrape_interval: 30s
  evaluation_interval: 30s
  external_labels:
    app: ping-monitor
remote_write:
- url: "http://prod.landing-app-insert.sgt.sg1.api:10908/api/v1/receive"
  queue_config:
    max_samples_per_send: 10000
    capacity: 20000
    max_shards: 30
scrape_configs:{{range .}}
- job_name: {{.Name}}
  metrics_path: /ping
  static_configs:{{range $probe := .Probes}}
  - targets:{{range $tgt := $probe.Targets}}
    - {{$tgt}}{{end}}
    labels:{{range $k,$v := $probe.Labels}}
      {{$k}}: {{$v}}{{end}}{{end}}
  relabel_configs:
  - source_labels: [__address__]
    target_label: __param_target
  - source_labels: [__param_target]
    target_label: instance
  - target_label: __address__
    replacement: {{.Address}}
{{end}}